@font-face {
    font-family: "Gilroy-Semibold";
    src: url("../fonts/gilroy-semibold.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Gilroy-Bold";
    src: url("../fonts/gilroy-bold.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Gilroy-Medium";
    src: url("../fonts/gilroy-medium.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Gilroy-Regular";
    src: url("../fonts/gilroy-regular.ttf");
    font-style: normal;
    font-weight: 400;
}

body {
    margin: 0;
    background-color: #FFF;
    
}

.container{ 
     
    width: 1270px;  
    margin-left: auto;
    margin-right: auto;
}
.center {
   
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}

.header{
    display: flex;
    justify-content: space-between;
    height: 114px;
    align-items: center;
    gap: 337px;    
    
}

.menu {

    width: 556px;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;

}

a {
    font-family: 'Gilroy-Medium';
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

a:hover {
    color: #F25822;
    font-family: 'Gilroy-SemiBold';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.intro {
    display: flex;    
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}



.intro-title {
    width: 522px;
    color: #000;
    font-family: 'Gilroy-Bold';
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 17px;


}

.intro-text {
    font-family: 'Gilroy-Medium';
    color: #888888;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    width: 466px;

}

.intro-button-wrapper {
    margin-top: 37px;
    margin-bottom: 50px;
    display: flex;
    gap: 31px;
    align-items: center;
}



.intro-batten {
    color: #FFF;
    font-family: 'Gilroy-Bold';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 140px;
    height: 50px;
    /* flex-shrink: 0; */
    border-radius: 50px;
    background: #F25822;
    /* box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20); */
}

.intro-batten-text {
    color: #AAA;
    font-family: 'Gilroy-Bold';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.intro-batten-text:hover {
    color: #F25822;
    font-family: 'Gilroy-SemiBold';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.intro-img {
    margin-right: 64px;
}

.logo {
    margin-top: 38px;
    height: 158px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.unit {
    /* margin-top: 100px;
    margin-bottom: 100px; */
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.unit-box {
    /* border: 1px solid rgb(10, 1, 1); */
    width: 370px;
    padding: 40px 30px;
}

.unit-box:hover {
    box-shadow: 8px 10px 15px 5px rgba(0, 0, 255, .2);
}

.unit-title {
    color: #000;
    font-family: 'Gilroy-Bold';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.unit-text {
    width: 310px;
    color: #666;
    font-family: 'Gilroy-Regular';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%
}

.unit-batten-text {
    color: #000;
    font-family: 'Gilroy-Bold';
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 16.5px */
}

.unit-batten-text:hover {
    color: #F25822;
    font-family: 'Gilroy-SemiBold';
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 16.5px */

}

.container-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    

}

.part-three-title {
    margin-top: 192px;
    margin-bottom: 19px;
    text-align: center;
    color: #000;

    font-family: Gilroy-Bold;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    

}

.part-three-text {
    color: #666;
    width: 682px;    
    font-family: Gilroy-Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 54px;
    /* 24px */
}
.part-three-unit {    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;

}

.part-three-unit:hover {
    box-shadow: 8px 10px 15px 5px rgba(0, 0, 255, .2);
}
.part-three-unit-text{
    margin: 0;
}

.reset{
    margin:0;

}


